@keyframes blink {

    0% {
        -webkit-filter: brightness(200%);
        filter: brightness(200%);
    }
    50% {
        -webkit-filter: brightness(50%);
        filter: brightness(50%);
    }
    100% {
        -webkit-filter: brightness(200%);
        filter: brightness(200%);
    }
}
@keyframes blink2 {

    0% {
        -webkit-filter: brightness(200%);
        filter: brightness(200%);
    }
    50% {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
    100% {
        -webkit-filter: brightness(200%);
        filter: brightness(200%);
    }
}
@keyframes blink1 {

    0% {
        -webkit-filter: brightness(150%);
        filter: brightness(15%);
    }
    50% {
        -webkit-filter: brightness(75%);
        filter: brightness(75%);
    }
    100% {
        -webkit-filter: brightness(75%);
        filter: brightness(75%);
    }
}
.unitMove {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.building:hover {
    animation: blink2 4s;
    animation-iteration-count: infinite;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.rw img {
    position: absolute;;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 4.5vw;
    height: 8vh;
}
.hero {
    position: absolute;;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 4.5vw;
    height: 8vh;
}
.cell {
    content:url("img/cell.png");
    /*box-shadow: 10px 10px 5px #888888;*/
}
.cell:hover {
    animation: blink1 2s;
    animation-iteration-count: infinite;
    /*content:url("img/cellSelected.png");*/
}
