body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.rw img {
    position: absolute;;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 4.5vw;
    height: 8vh;
}
.hero {
    position: absolute;;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 4.5vw;
    height: 8vh;
}
