<!-- Upper ui (buildings) -->
<div style="background-color:#F5F5F5;width:100vw;height:65vh;background-image:url('img/{{castleType}}_bg.png')">
    <select ng-model="owner" name="">
        <option selected disabled value="">Select player</option>
        <option value="red">red</option>
        <option value="blue">blue</option>
        <option value="green">green</option>
    </select>
    <select ng-model="castleType" name="">
        <option selected disabled value="">Select type of city</option>
        <option value="castle">castle</option>
        <!-- <option value="blue">blue</option>
        <option value="green">green</option> -->
    </select>
    <div class="building" ng-click="showBuild(true)" style="background-repeat:no-repeat;background-size:cover;
    background-image:url('img/{{castleType}}_main_t{{building.main.level}}.png');
    position:absolute;left:5vw;top:30vh;width:10vw;height:10vw;">

    </div>
</div>
<!-- Bottom ui (units) -->
<div style="background-color:{{owner | ownerColor}};width:100vw;height:35vh;border:10px groove yellow;">
    <div style="position:absolute;left:1vw;top:66vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:8.33vw;height:12vh;">

    </div>

    <div style="position:absolute;left:9.34vw;top:66vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:16.66vw;height:4vh;">

    </div>
    <div style="position:absolute;left:9.34vw;top:72vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:4vw;height:6vh;">

    </div>
    <div style="position:absolute;left:13.34vw;top:72vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:4vw;height:6vh;">

    </div>
    <div style="position:absolute;left:17.68vw;top:70vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:8.33vw;height:8vh;">

    </div>
    <div ng-repeat="unit in stockArmy" style="position:absolute;left:{{1+(unit.id%4)*6.22}}vw;top:{{unit.id<4?78:88}}vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:6.22vw;height:8vh;">

    </div>
    <div ng-repeat="unit in armyCastle" style="position:absolute;left:{{26+unit.id*100/12}}vw;top:66vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:{{100/12}}vw;height:15vh;">
        {{unit.id}}
    </div>
    <div ng-repeat="unit in armyHero" style="position:absolute;left:{{26+unit.id*100/12}}vw;top:81vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:{{100/12}}vw;height:15vh;">
        {{unit.id}}
    </div>
    <div style="position:absolute;left:92.5vw;top:66vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:7vw;height:6vh;">

    </div>
    <div style="position:absolute;left:92.5vw;top:66vh;
    background-color:#431;border:4px inset {{owner | ownerColor}};width:7vw;height:6vh;">

    </div>
    <div ng-click="cityUp()" style="position:absolute;left:92.5vw;top:72vh;
    background-color:{{firstPos == 0?'#431':'#F5D00C'}};border:4px inset {{owner | ownerColor}};width:7vw;height:3vh;">

    </div>
    <div ng-repeat="city in cities | onlyThreeCities:firstPos" style="position:absolute;left:92.5vw;top:{{75+$index*6}}vh;
    background-color:{{city.color}};border:4px inset {{owner | ownerColor}};width:7vw;height:6vh;">

    </div>
    <div ng-click="cityDown()" style="position:absolute;left:92.5vw;top:93vh;
    background-color:{{firstPos == cities.length-3 ?'#431':'#F5D00C'}};border:4px inset {{owner | ownerColor}};width:7vw;height:3vh;">

    </div>
</div>
<!-- modal build ui -->
<div ng-if="build" style="border:10px groove #F5D00C;position:absolute;left:0vw;top:0vh;width:100vw;height:96vh;background-color:{{owner | ownerColor}}">
    <div style="background-color:#221;position:absolute;width:87.5vw;height:91vh;left:5vw;top:4vh;">

    </div>
    <div style="border:10px groove #F5D00C;
    background-image:url('img/{{castleType}}_main_t{{building.main.level+1}}.png');background-size:cover;
    background-color:#221;position:absolute;width:10vw;height:20vh;left:5vw;top:4vh;">

    </div>
    <div ng-click="upgrade(building.main)" style="border:10px groove #F5D00C;
    background-color:{{availableBuild?'#0c0':'#c00'}};position:absolute;width:10vw;height:4vh;left:5vw;top:24vh;">
        Build
    </div>
    <div ng-click="showBuild(false)" style="background-color:#F5D00C;position:absolute;width:7vw;height:8vh;left:92.5vw;top:87vh;
    border:4px inset {{owner | ownerColor}};">

    </div>
</div>
